*{

    padding: 0;
    box-sizing: border-box;
}



.container2{

    width: 50%;
    height: auto;
   margin: 0px auto;

}
.topo {
    width: 50%;
    height: auto;
    /* background-color: rgb(64, 193, 197); */

}

.topo1 img{
    width: 100%;
    height: 50px;
    display: none;
}


.menu{
    width:100%;
    height: 70px;
    background-color: blueviolet;
    z-index: 100;
    margin-top: 0px;
    position:fixed;

}

.close-btn,
    .open-btn {
        display: none;
    }


ul{
    text-align: center;

}

.carousel1{
    width: 80%;
    height: 500px; ;
    margin: 0px auto;
    padding-top: 100px;

    /* background-color: #01acc6; */
}
.d-block-w-100{
    width: 100%;
    height: 350px;


}

.me{
    display: inline-block;
    border-radius: 10px;
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 15px;
    color: hotpink;


}
.me a {
    text-decoration: none;
    color: white;
}


.tratamento{
    display: flex;
    justify-content: center;
    margin-top: 5px ;
    width: 100%;
    /* background-color: red; */
}

.trat{
    width: 400px;
    background-color: #01acc6;
    height: 300px;
    margin: 15px 5px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;

    }

.trat img{
    width: 130px;
    height: 130px;
    margin-top: 50px;
    border-radius: 90px;
    background-color: white;
    border: none;

}


.t{

    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 40px;
    width: 35%;
    margin: 50px 0px 5px 31px;
    border-radius: 2px;
    color: white;



}
.tt{
    color:white;
    font-size: 15px;
    font-weight:300;
    padding-top: 25px;
    font-family:"Montserrat", Sans-serif;
}
.quemsomos{
    width: 100%;
    height: auto;
    margin: 15px auto 10px;
    /* background-color: aqua; */
    display: flex;
    margin-bottom: 20px;
}
.quemsomostexto{
    width: 60%;
    height:auto;
    /* background-color: red; */
    margin-top: 0px;
    font-family: "Montserrat", Sans-serif;
    font-size: 20px;
    text-align: left;

}
.quemsomosimg{
    height: 50%;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    /* background-color: blueviolet; */
}
.quemsomosimg img{
    width: 90%;
    border-radius: 10px;

}
.agendamento{
  margin: 0px auto;

  background-color: rgb(0, 255, 85);
  width: 100%;
  height: 120px;



}
.agendatexto{
    font-family: "Montserrat", Sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #01acc6;
    color: #ffffff;
    text-align: center;
}
.btn {
    width: 264px;
    height: 63px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    background-color: #01acc6;
    border-radius: 5px;



}

.btn1 {
    width: 100%;
    color: #ffffff;
    font-size: 10px;
    font-family: "Monstserrat", sans-serif;
    /* padding: 15px 20px; */
    background: red;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


}

.btn1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 800;
}
.btn1 a:hover{
    color: #1a525c;
    transition: 0.1s;
}

.btn1 a:visited {
    color: #ffffff;
}

.zap {
    width: 40px;
    height: 30px;
    margin: 5px;

}
.h1{
    width: 100%;
    margin-top: 30px;
    text-align: center;

}

.localizacao{

    display: flex;
    align-items: center;
    /* background-color: violet; */
    /* margin-bottom: 25px; */

}
.map img{
    width: 50px;
    margin-left: 0px;


}
.map{
    /* background-color: red; */
    margin-left: 30px;
    margin-top: -100px;
}
.terminal{
    /* background-color: red; */
    font-size: 25px;
    margin-left: 10px;
    margin-top: 100px;
}

.lj{

    margin-top: 50px;
    /* background-color: rgb(0, 255, 64); */
    margin-left: 40px;

}
.lojaimg{


    height: 500px;
    /* background-color: rgb(0, 255, 200); */

}

.avenida{
    margin-top: 15px;
    font-weight: 600;
    /* background-color: blueviolet; */
}
footer{
    background-color: blueviolet;
    height: 50px;
    padding-top:1%;


}
.desenvolvido{
    color: white;
    text-align: center;
    margin: 0px auto;

    font-weight: 500;



}

.fvo {
    text-decoration: none;
    color: #ffffff;
  }
.fvo:hover{
     color: #000000; 
        text-decoration: none;
        transition: 0.5s;
        
        opacity: 0.7;}


@media screen and (max-width:999px) {


    /* ul{
        display: none;
    } */
     .container2{
        width: 100%;
        height: 550px;
        /* background-color: rgb(21, 22, 22); */
        
     }

     .topo{
        /* background-color: red; */
        width: 100%;
        height: auto;
        padding-bottom:1px;
     }
     .topo1 img{
        width: 100%;
        height: auto;
        display: inline;
     }
   
    .me{
        width: 50%;
        height: 0px;
        /* background-color: red; */
    }
    .hamburguer{
        background-color: blueviolet;
        width:9%;
        height: 40px;
       
        left: 150px;
        margin-bottom: 10px;
        border-radius: 2px;
        
      
        




    }
    .carousel1{
        width: 100%;
        display: none;

    }
    .teste1{
        width: 100%;
        position: fixed;
        
     
    }
    .menu{
        height: 50%;
        width: 0%;
        
        top: 0px;
        left:0px;

        background-color:blueviolet;
        overflow-x: hidden;
        transition: 0.3s;
        text-align: left;
        
    }

    .menu a {

        padding: 10px 3px;
        text-decoration: none;
        font-size: 18px;
        color: #ffff;
        display: block;
        transition: 0.3s;
        height: 40px;




    }

    .menu a:hover {


        height: 70px;
        color:#ffff;
        padding-left: 10px;




    }

    .open-btn {
        width: 50%;
        font-size: 24px;
        cursor: pointer;
        background: none;
        border: none;
        color:#ffffff;
        margin: 0px auto;
        background-color:blueviolet;

    }
    .open-btn:focus {
        outline: none;
    }

    /* .container {
        margin-left: 0px;
        transition: margin-left 0.3s;
        padding: 0px;

    } */

    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        color: #ffffff;
        background: none;
        border: none;
        cursor: pointer;
    }

    .close-btn:focus {
        outline: none;
    }


    .close-btn,
    .open-btn {
        display: block;
    }



    .t{
        width: 50%;
        height: 50px;
        font-size: 11px;
        margin: 25px auto;
        /* background-color: red; */
        font-weight: 700;
       




    }
    .tratamento{
        display: block;
        /* background-color: rgb(123, 255, 0); */
        height: auto;
        





        
    }
    .trat{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .quemsomos{
        display:block ;
        width: 100%;

    }
    .quemsomostexto{
        width: 100%;
        margin: 9px;
        font-size: 15px;
    }

    .agendamento{
        /* background-color: rgb(8, 3, 3); */
        
    }

    .h1{
        font-size: 20px;
    }

    .localizacao{
        /* background-color: red; */
        width: 100%;
        display: block;

    }

    .lj{

        width: 100%;
        margin: 0px auto;
    }
    .lojaimg{
        width: 98%;
        margin: 5px;
    }
    .terminal{
        font-size: 25px;

    }
    .map{
       font-size: 15px;
        /* background-color: red; */
        margin-top: 25px;
        margin: 0px 21px;
    }
    footer{
        font-size: 12px;
    }
}




